/* Hello world */

body{
	padding:0px;
	background-color:yellow;
}
#navBar{
	position:fixed;
	display:flex;
	justify-content:center;
	width:95%;
}
div.navItem{
	display:inline-block;
	width:100%;
	text-align:center;
}
a.navItem{
	display:inline-block;
	width:25%;
	background-color:orange;
	border:3px solid black;
}
div.project{
	width:50%;
	display:inline-block;
}